@font-face {
  font-family: "Estedad";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/Estedad-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Estedad";
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/Estedad-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Estedad";
  font-weight: 700;
  font-style: normal;
  src: url(/assets/fonts/Estedad-Bold.woff2) format("woff2");
}

body,
button,
form input,
form textarea {
  font-family: "Estedad";
}