@font-face {
  font-family: "Estedad";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonsts/Estedad-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Estedad";
  font-weight: 700;
  font-style: normal;
  src: url(/assets/fonsts/Estedad-Bold.woff2) format("woff2");
}

body,
button,
form input {
  font-family: "Estedad";
}