/* --------------------- RESET ------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --------------------- ROOT ------------------ */
:root{
  --color-primary:#417F56;
  --color-secondary:#f9f9f9;
  --color-font:#353535;
}

html{
  font-size: 62.5%;
}

body{
  color: var(--color-font);
  background-color: var(--color-secondary);
}

/* --------------------- BUTTONS ----------------- */
.btn{
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: 400;
}

.btn--primary{
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.5rem 1.6rem;
}

.btn--secondary{
  color: var(--color-font);
  background-color: var(--color-secondary);
  padding: 0.8rem 2.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  
}

.btn--tertiary{
  background: transparent;
  display: flex;
  justify-content: space-around;
  width: 20rem;
  padding: 0.8rem 3rem;
  color: #fff;
  border: 2px solid #fff;
}

.btn--tertiary img{
  color: #fff;
}

@media screen and (min-width:768px) {
  .btn{
    font-size: 1.6rem;
  }
}