/* --------------------- RESET ------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --------------------- ROOT ------------------ */
:root {
  --color-primary: #417f56;
  --color-secondary: #f9f9f9;
  --color-font: #353535;
  --color-border: #cbcbcb;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-font);
  /* background-color: var(--color-secondary); */
  min-width: 360px;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h6 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

/* -------------------PAGE SETTINGS ------------ */
.container {
  width: 1222px;
}

.block {
  padding: 1rem 5rem;
}

/* ------------------- BUTTONS ----------------- */
.btn {
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: 400;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.5rem 1.6rem;
}

.btn--secondary {
  color: var(--color-font);
  background-color: var(--color-secondary);
  width: 9.6rem;
  padding: 0.8rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn--tertiary {
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 17.3rem;
  padding: 0.5rem 2rem;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.2rem;
}

.btn--tertiary img {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.6rem;
  }
}

/* --------------------- MENU SECTION ------------------- */
.menu-section {
  max-height: 48rem;
  margin: 0 2rem;
}

.menu__search input {
  border-radius: 4px;
  padding: 0.8rem 1.6rem;
  border: 1px solid var(--color-border);
  background: url(/assets/icons/search-normal.svg) no-repeat 1rem center;
  width: 100%;
}

.menu__search input::placeholder {
  color: #000;
  font-size: 1.4rem;
  opacity: 1;
}

.menu__wrapper {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10.5rem 1.6rem;
}

.menu__heading {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 1.5rem;
}

.menu__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-primary);
  height: 8rem;
  border-radius: 4px;
  position: relative;
}

.menu__item .btn {
  position: absolute;
  top: 7rem;
}

@media screen and (min-width: 768px) {
  .menu-section {
    width: 1222px;
    margin: 0 auto;
  }
  .menu__wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid: 2.4rem;
    margin-top: 15rem;
  }
  .menu__search {
    display: none;
  }
  .menu__item {
    height: 16rem;
    justify-content: flex-end;
  }
  .menu__item img {
    width: 24rem;
    height: 24rem;
    margin-bottom: 3rem;
  }
  .menu__item .btn {
    width: 15.5rem;
    position: absolute;
    top: 13rem;
  }
}

/* ------------------ ABOUT SECTION ------------------- */
.about-section {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("/assets/images/out-door-cafe.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.about-wrapper {
  margin: 0 auto;
  color: #fff;
  width: 100%;
  padding: 1.6rem 2rem;
  line-height: 2rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.about-content {
  position: relative;
}

.about-content p {
  font-size: 1rem;
}

.about-content .btn {
  margin-top: 2rem;
  position: absolute;
  left: 0;
}

.about__icons {
  margin-top: 10rem;
  margin-bottom: -4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  font-size: 1.2rem;
}

.about__icons .icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-container img {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .about-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10.8rem;
    width: 100%;
  }

  .about-content {
    width: 50%;
    margin: 4.8rem 0 2.8rem 6rem;
  }

  .about-content h6 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }

  .about-content p {
    font-size: 2rem;
    line-height: 3rem;
  }
  .about__icons {
    width: 50%;
    font-size: 1.8rem;
    margin: 5rem -2rem;
    padding: 0 6rem;
    gap: 1.8rem;
  }

  .about__icons .icon-container {
    justify-content: flex-start;
    align-items: center;
    margin: 1.5rem 0;
    text-align: center;
    font-size: 1.8rem;
  }
}

/* ----------------- BRANCH SECTION ----------------- */
.branch-section {
  background-color: #fff;
}

.branch-section h6 {
  text-align: center;
  margin-top: 2.4rem;
}

.branch-wrapper {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.branch {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 8rem;
  margin-bottom: 1.2rem;
  width: 318px;
}

.branch__img {
  width: 100%;
}

.branch .branch__img img {
  width: 100%;
}

.branch .branch__details-title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.branch__details {
  text-align: center;
  width: 100%;
  padding: 0.8rem 0.4rem;
}

.branch__details p {
  font-size: 1rem;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .branch-section {
    width: 1222px;
    margin: 0 auto;
  }

  .branch-section h6{
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .branch-wrapper {
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
  }

  .branch {
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    height:344px;
    overflow: hidden;
    border-radius: 8px;
  }

  .branch:not(:last-child) {
    margin-left: 2.4rem;
  }

  .branch__img{
    width: 100%;
    height: 230px;
  }

  .branch__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .branch__details{
   padding: 0.8rem 2rem;
  }

  .branch__details-title{
    font-size: 2rem;
  }

  .branch__details p{
    font-size: 1.4rem;
  }
}
