 <section class="branch-section">
      <h6>ترخینه گردی</h6>
      <div class="branch-wrapper">
        <div class="branch">
          <span class="branch__img">
            <img src="/assets/images/ekbatan-branch.svg" alt="" />
          </span>
          <span class="branch__details">
            <strong class="branch__details-title">شعبه اکباتان</strong>
            <p>شهرک اکباتان، فاز ۳، مجتمع تجاری کوروش، طبقه سوم</p>
          </span>
        </div>
        <!-- ----------------------- -->
        <div class="branch">
          <span class="branch__img">
            <img src="/assets/images/chaloos-branch.svg" alt="" />
          </span>
          <span class="branch__details">
            <strong class="branch__details-title">شعبه چالوس</strong>
            <p>چالوس‌‍، خیابان ۱۷ شهریور، بعد کوچه کوروش، جنب داروخانه دکتر میلانی</p>
          </span>
        </div>
        <!-- ----------------------- -->
        <div class="branch">
          <span class="branch__img">
            <img src="/assets/images/aghdasie-branch.svg" alt="" />
          </span>
          <span class="branch__details">
            <strong class="branch__details-title">شعبه اقدسیه</strong>
            <p>خیابان اقدسیه، نرسیده به میدان خیام، پلاک ۸</p>
          </span>
        </div>
        <!-- ----------------------- -->
        <div class="branch">
          <span class="branch__img">
            <img src="/assets/images/vanak-branch.png" alt="" />
          </span>
          <span class="branch__details">
            <strong class="branch__details-title">شعبه ونک</strong>
            <p>میدان ونک، خیابان فردوسی، نبش کوچه نیلوفر، پلاک ۲۶</p>
          </span>
        </div>
        <!-- ----------------------- -->
      </div>
    </section>