<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <section class="menu__persian-foods">
      <h6>غذاهای ایرانی</h6>
      <div class="food-card__wrapper">
        <div class="food-card">
          <img src="/assets/images/bourani.svg" alt="bourani" />
          <div class="food-card__details">
            <span>بورانی بادمجان</span>
            <p>بادمجان قلمی، ماست چکیده، سیر، روغن زیتون، مغز گردو</p>
            <span>
              <img src="/assets/icons/singles/Heart.svg" alt="" />
              <img src="/assets/icons/singles/Rate.svg" alt="" />
            </span>
            <span>
              <span class="old-price">۱۷۰٬۰۰۰</span>
              <span class="badge">%۲۲</span>
            </span>
            <span class="new-price">۱۴۸٬۰۰۰ تومان</span>
            <button class="btn btn--primary">افزودن به سبد خرید</button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
