<section class="hero-section">
      <div class="hero__wrapper">
        <span class="slide-icons slide-right">
          <img src="/assets/icons/arrow-right1.svg" alt="">
        </span>
        <h6 class="hero__title">تجربه غذای سالم و گیاهی به سبک ترخینه</h6>
        <span class="slide-icons slide-left">
          <img src="/assets/icons/arrow-left.svg" alt="">
        </span>
        <button class="btn btn--primary">سفارش آنلاین غذا</button>
        <span 
          ><img src="/assets/images/Elipse Group.svg" alt=""/></span>
      </div>
    </section>