<section class="menu-section">
      <div class="menu__search">
        <form>
          <input type="search" placeholder="جستجو" />
        </form>
      </div>
      <h6 class="menu__heading">منوی رستوران</h6>
      <div class="menu__wrapper">
        <div class="menu__item">
          <span
            ><img
              src="/assets/images/main-course.svg"
              alt="a photo of a main-course"
          /></span>
          <button class="btn btn--secondary">غذای اصلی</button>
        </div>
        <div class="menu__item">
          <span>
            <img
              src="/assets/images/appetizer.svg"
              alt="a photo of an appetizer"
            />
          </span>
          <button class="btn btn--secondary">پیش غذا</button>
        </div>
        <div class="menu__item">
          <span>
            <img src="/assets/images/dessert.svg" alt="a photo of a dessert" />
          </span>
          <button class="btn btn--secondary">دسر</button>
        </div>
        <div class="menu__item">
          <span>
            <img src="/assets/images/juice.svg" alt="a photo of a juice" />
          </span>
          <button class="btn btn--secondary">نوشیدنی</button>
        </div>
      </div>
    </section>